
/* resetcss ******************************************************/

body, h1, h2, h3, h4, h5, h6, ul, li, p, a, span, nav, ul, li, dl, dd, dt {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* body&wrapper ******************************************************/

body {
    max-width: 1200px;
    margin: auto;
    background-image: url(../images/all/bg_body.jpg);
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    color: #a6681c;
}

#wrapper {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.sp_wrap {
    display: none;
}

.container {
    justify-content: space-between;
}

.btn:hover, a:hover, .bloglink:hover {
    opacity: 0.7;
    cursor: pointer;
}

.hr_img {
    background-image: url(../images/all/line_midle.png);
    width: 500px;
    height: 14px;
    border-style: none;   
}

#pagetop img {
    width: 60px;
    height: 100px;
}

/* header *****************************************************/

h1 {
    margin: 5% 0px;
}


header .container {
    position: relative;
    justify-content: flex-start;
}

#nav_container {
    width: 700px;
    margin: 40px 0px 0px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

#nav_container a {
    position: relative;
    display: inline-block;
}

#nav_container a:link, #nav_container a:visited {
    color: #a6681c;
}

#nav_container a:hover, #nav_container a:active {
    color: #a2a629;
}

#nav_container a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #a2a629;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
}

#nav_container a:hover::after {
    transform: scale(1, 1);
}

#contact_label {
    position: absolute;
    top: -50px;
    left: 900px;
    transition: all 0.5s ease;
}

#contact_label:hover {
    top: -30px;
    transition: all 0.5s ease;
}

.key {
    position: relative;
}

#key_img img {
    width: 100%;
}

#key_text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 350px;
    left: 0px;
}

#sp_text {
    display: none;
}


.slider {
    height: 600px;
    position: relative;
    border-radius: 5%;
}

/* content *****************************************************/

h2 {
    margin: 50px;
    font-size: 2rem;
    box-sizing: border-box;
}

h2 span {
    display: inline-block;
    padding: 0 0.5em;
    position: relative;
}
 
h2 span:before, h2 span:after {
    border-top: 3px solid #a2a629;
    content: "";
    position: absolute;
    top: 50%;
    width: 1em;
}
 
h2 span:before {
    right: 100%;
}
 
h2 span:after {
    left: 100%;
}

section {
    margin: 90px 0px;
}

/* news *****************************************************/

#news .text a:link, #news .text a:visited {
    color: #a2a629;
}

#news .text a:hover, #news .text a:active {
    color: #0f0e0d;
}

#news .box {
    margin-bottom: 40px;
    background: #fff;
    border-radius: 10px;
}

#news .box .text {
    width: 300px;
    text-align: left;
}

#news .box .title {
    color: #a2a629;
}

#news .box .text p {
    padding: 5px;
}

#news .btn {
    margin: 80px 0px;
}

#pn .container {
    width: 600px;
    margin: auto;
    justify-content: space-evenly;

}

/* recommend *****************************************************/

#recommend .container {
    height: 600px;
    justify-content: space-around;
}

#recommend .text {
    height: 300px;
    margin-top: 20px;
    color: #fff;
}

#recommend .text p {
    padding-bottom: 8px;
}

#recommend .text p:first-of-type {
    padding-top: 90px;
}

#recommend .bg01 {
    background: url(../images/all/recomend_bg01.png);
    background-repeat: no-repeat;
    background-position: center;
}

#recommend .bg02 {
    background: url(../images/all/recomend_bg02.png);
    background-repeat: no-repeat;
    background-position: center;
}

#recommend .bg03 {
    background: url(../images/all/recomend_bg03.png);
    background-repeat: no-repeat;
    background-position: center;
}

#concept {
    margin-top: 40px;
}

#concept p {
    width: 100%;
    max-width: 850px;
    margin: auto;
    font-size: 1.5rem;
    padding: 5% 0px;
    line-height: 3rem;
}

/* access *****************************************************/

#access .map {
    width: 45%;
    position: relative;
    overflow: hidden;
    border-radius: 5%;
}

#access iframe {
    width: 550px;
    height: 400px;
}

#access .address {
    width: 50%;
    text-align: left;
    background: url(../images/all/bg_access.png);
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.address dl {
    font-size: 1.2em;
    color: #fff;
    margin:50px 0px 0px 40px;
}

.address dt {
    margin: 30px 0px 5px 0px;
}

.address #sp_tel {
    pointer-events: none;
}

.address a:link,
.address a:visited {
    color: #fff;
}

.address #sp_gmap {
    display: none;
}

#acmenu dt, #acmenu dd {
    margin: 0 auto;
    width: 600px;
    padding-left: 50px;
    text-align: left;
    border: 3px solid #a2a629;
}

#acmenu dt {
    margin-top: 35px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    position: relative;
    display: block;
}

#acmenu dd {
    margin-bottom: 35px;
    padding-top: 10px;
    height: 150px;
    border-top: 0px;
    border-radius: 0px 0px 10px 10px;
    background: #fff;
    display: none;
}

#acmenu dt span:before {
  content: '+';
  display: block;
  color: #a2a629;
  font-size: 2rem;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: all .15s linear;
}

#acmenu .active span:before {
    top: 0px;
    transform: rotate(45deg);
}

#acmenu .active {
    border-radius: 10px 10px 0px 0px;
}

/* contact ******************************************************/

#contact img {
    width: 100%;
    max-width: 765px;
}

#contact img:last-of-type {
    display: none;
}

/* appointment ******************************************************/

    #appointment {
        display: none;
    }

/* totop ******************************************************/

#pagetop {
    position: fixed ;
	right: 240px ;
	bottom: 125px ;
}

/* footer *****************************************************/

footer {
    background: url(../images/all/f_bg.png);
    background-repeat: no-repeat;
}

footer .container {
    padding-top: 120px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

#f_logo {
    width: 150px;
    margin-left: 30px;
}

#f_nav_container {
    margin-top: 20px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
}

#f_nav_container a:link, #f_nav_container a:visited {
    color: #fff;
}

#f_nav_container a:hover, #f_nav_container a:active {
    color: #a6681c;
}

#f_nav_container li {
    text-align: left;
    margin: 0 0 10px 40px;
}

footer .btn {
    margin-right: 15px;
}

#f_copy {
    height: 40px;
    line-height: 40px;
    color: #fff;
}

/* flexbox *****************************************************/

.container {
    display: flex;
}

/* mediaquery **********************************************************************************************************/

@media screen and (max-width: 560px) {
    
    /* body *****************************************************/

    .container {
        display: block;
    }

    h2 span {
        font-size: 0.7em;
    }

    section {
        margin: 0px;
    }

    /* totop ******************************************************/

    #pagetop {
        position: fixed ;
        right: 30px;
        bottom: 95px;
    }

    /* sp_menu *****************************************************/

    .sp_wrap {
        display: block;
        text-align: left;
        position: relative;
    }
    
    .sp_wrap .icon_link_tab {
        position: absolute;
        padding-top: 32px;
        top: -32px;
        left: -300px;
        transition: 0.3s ease-out;
    }
      .sp_wrap .icon_link_tab a {
          display: block;
          width: 250px;
          height: 60px;
          text-align: center;
          line-height: 4em;
    }

    .sp_wrap .icon_link_tab a:link,
    .sp_wrap .icon_link_tab a:visited {
        color: #fff;
    }

    .sp_wrap .icon_link_tab.open {
        background: rgba(162, 166, 41, 0.9);
        border-bottom-right-radius: 5%;
        padding-top: 32px;
        top: -32px;
        left: 0;
        transition: 0.3s ease-out;
        z-index: 999;
    }

    .sp_wrap .close_btn img {
        margin: 30px 0px 0px 25px;
    }

    #sp_menu {
        position: absolute;
        top: 30px;
        left: 20px;
    }

    #sp_menu img {
        width: 40px;
    }

    .invisible {
        display: none;
    }

    /* header *****************************************************/

    #nav_container,
    #contact_label,
    #key_text,
    #f_nav_container {
        display: none;
    }

    .slider {
        height: 200px;
    }
    
    #sp_text {
        display: block;
        color: #fff;
        position: absolute;
        top: 20%;
        left: 10%;
    }
    
    #sp_text p:first-of-type {
        font-size: 1.8em;
        padding: 10px 0px;
    }

    /* recomend *****************************************************/

    #recommend .container {
        height: 100%;
    }
   
    #recommend .box .text {
        margin-bottom: 50px;
    }

    #concept p {
        width: 230px;
        font-size: 0.9em;
        text-align: center;
        line-height: 2.5em;
    }

    .hr_img {
        width: 200px;
        height: 16px;
        border-style: none;   
    }


    /* access *****************************************************/

    #access h2 {
        font-size: 1.8em;
    }

    #access .map,
    #access .address {
        width: 100%;
        background-image: none;
    }

    #access .map {
        display: none;
    }

    #access .address dl {
        margin: 0px;
        text-align: center;
        font-size: 0.9em;
        color: #a6681c;
    }

    #access .address dt {
        font-size: 1.5em;
    }

    #access .address dd img {
        width: 95%;
    }

    #access .address #sp_gmap {
        display: block;
    }

    #access .address #sp_gmap a:link,
    #access .address #sp_gmap a:visited {
        color: blue;
    }

    #access .address #sp_tel a:link,
    #access .address #sp_tel a:visited {
        color: blue;
        text-decoration: underline;
        pointer-events: auto;
    }

    #map dl dt,
    #map dl dd {
        font-size: 0.9em;
    }

    #sp_gmap {
        display: block;
    }

    /* contact *****************************************************/

    #contact img:first-of-type {
        display: none;
    }

    #contact img:last-of-type {
        margin: 50px auto 30px;
        display: block;
    }


    /* news *****************************************************/

    #news .box,
    #article .box {
        max-width: 300px;
        margin: 0px auto 50px;
    }

    /* btn *****************************************************/

    #banner .bloglink img,
    #banner .line img {
        width: 100%;
    }

    /* FAQ ******************************************************/

    #acmenu dt,
    #acmenu dd {
        width: 70%;
        font-size: 0.8em;
    }

    #acmenu dt {
        height: 60px;
        line-height: 60px;

    }
    
    /* contact ******************************************************/

    #contact img {
        width: 95%;
    }

    /* appointment ******************************************************/

    #appointment img {
        width: 90%;
    }

    /* articl *****************************************************/

    #article .sp_block {
        display: none;
    }

    /* pn *****************************************************/

    #pn .container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #pn .container li {
        margin: 0px 10px;
    }

    #pn .container li:nth-of-type(n+2):not(:last-of-type) {
        display: none;
    }

    /* banner *****************************************************/

    .container .bloglink,
    .container .line {
        display: none;
    }


    /* footer ******************************************************/

    #f_logo {
        display: none;
    }

    footer .btn {
        width: 100%;
        margin: auto;
    }

    footer .btn img {
        width: 80%;
    } 

}